<div class="container">
  
  <img src="\assets\img\burgerMonster.jpg">
  <h1>Eat-Da-Burger!</h1>

  <div class="row">

    <div class="col-sm-6">
      <h2>Burgers to Eat!</h2>
      {{#each burgers}}
        {{#unless this.inhaled}}
          <form id="update" action="/burgers/inhaled/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="inhaled" value="true">
            <button class="btn btn-danger" type="submit">Inhale it!</button>
          </form>
          <div class="well">
            {{this.id}}. {{this.burger_name}}
          </div>
        {{/unless}}
      {{/each}}
    </div>

    <div class="col-sm-6">
      <h2>Burgers inhaled!</h2>
      {{#each burgers}}
        {{#if this.inhaled}}
          <div class="well inhaled">
            {{this.id}}. {{this.burger_name}}
          </div>
        {{/if}}
      {{/each}}
      </div>

  </div>

  <h2>Create any burger you want!</h2>
  
  <form id="add" action="/burgers/add" method="POST">
    <textarea name="burger_name"></textarea>
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>

</div>